@mixin auto-scroll-wrapper {
	overflow-x: auto;
	-webkit-overflow-scrolling: auto;
	border-block-end: none !important;
	&::-webkit-scrollbar {
		height: .6rem;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: hsl(0, 0%, 0%);
	}
	@media (hover: none) {
		scroll-snap-type: x mandatory;
	}
}

@mixin auto-scroll-item {
	@media (hover: none) {
		scroll-snap-align: center;
	}
}
