.film-cards-wrapper {
	@include auto-scroll-wrapper;
}

.film-cards {
	display: grid;
	grid-auto-flow: column;
	// justify-content: center;
	& > li {
		@include auto-scroll-item;
		width: 17em;
		height: 22em;
		border-inline-end: 4px solid white;
		border-block-end: var(--border);
		display: grid;
		background-color: var(--dark-color);
		color: white;
		text-align: center;
	}
	& a {
		text-decoration: none;
	}
}

.film-card {
	&__content,
	&__image {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		display: grid;
		& img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__content > .wp-block-group__inner-container {
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.39) 0%,
			rgba(0, 0, 0, 0.27) 23%,
			rgba(255, 255, 255, 0) 100%
		);
		padding: var(--gap);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__title {
		color: white;
	}
}
