#footer {
	padding: calc(var(--gap)*2) var(--gap) var(--gap) var(--gap);
	& h2 {
		text-align: unset;
		padding-block-start: 0;
		padding-block-end: 0;
	}
	& .footer-menu {
		align-content: flex-end;
	}
}


