.footer-menu {
	// padding-inline-start: 0;
	// display: flex;
	// flex-wrap: wrap;
	// justify-content: space-around;
	// // padding-inline-end: var(--gap);
	// @media (min-width: 700px) {
	// 	justify-content: flex-end;
	// }
	& li {
		@include nav-link;
		margin-block-end: var(--gap);
	}
	&-item:not(:last-child) {
		margin-inline-end: var(--gap);
	}
}
.footer-widget-area {
	@media (max-width: 599px) {
		.wp-block-buttons.is-content-justification-center {
			justify-content: unset;
		}
	}
	@media (min-width: 600px) and (max-width: 781px) {
		.wp-block-buttons.is-content-justification-center {
			justify-content: center;
		}
	}
	@media (max-width: 781px) {
		.is-vertical.items-justified-right > ul .wp-block-navigation-link,
		.is-vertical.items-justified-right > ul .wp-block-pages-list__item {
			justify-content: unset;
		}
		.wp-block-column {
			margin-block-end: var(--gap);
		}
	}
}
