#footer {
	padding: calc(var(--gap)*2) var(--gap) var(--gap) var(--gap);
	& h2 {
		text-align: unset;
		padding-block-start: 0;
		padding-block-end: 0;
	}

	& .wp-block-buttons {
		@media (max-width: 600px) {
			justify-content: flex-start
		}
		@media (min-width: 600px) and (max-width: 781px) {
			justify-content: flex-end
		}
	}
	
	& .menu {
		flex-direction: column;
		@media (min-width: 782px) {
			align-items: flex-end;
			& .menu-item {
				margin-inline-end: unset;
			}
		}
	}
}