#header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: var(--gap);
	@media (min-width: 700px) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.site-title {
	text-align: center;
	margin-block-end: var(--gap);
}

.header {
	border-block-end: var(--border);
}

.entry-title {
	&__img {
		max-width: 80%;
	}
}