// nav#menu.nav
// 	 div.menu-top-nav-container
// 		 ul#menu-top-nav.menu
// 			 li.menu-item
// 				a

.menu {
	padding-inline-start: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	// padding-inline-end: var(--gap);
	@media (min-width: 700px) {
		justify-content: flex-end;
	}
	&-item {
		font-family: var(--font-sans-serif);
		text-transform: uppercase;
		letter-spacing: 0.125em;
		margin-block-end: var(--gap);
		a {
			text-decoration: none;
		}
		a:hover {
			border-block-end: 2px solid black; // underline
		}
		a:focus-visible {
			box-shadow: 0 0 0 7px white, 0 0 0 8px black; // focus ring
			outline: none;
		}
	}
	&-item:not(:last-child) {
		margin-inline-end: var(--gap);
	}
}
