// Navigation HTML Structure
// nav#menu.nav
// 	 div.menu-top-nav-container
// 		 ul#menu-top-nav.menu
// 			 li.menu-item
// 				a

.menu {
	padding-inline-start: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: calc(var(--gap)*2);
	padding-inline-end: var(--gap);

	&-item {
		text-transform: uppercase;
		letter-spacing: 0.125em;
		a {
			text-decoration: none;
		}
		a:hover {
			// text-decoration: underline;
			border-block-end: 2px solid black;
		}
		a:focus-visible {
			box-shadow: 0 0 0 7px white, 0 0 0 8px black;
			outline: none;
		}
	}
}
