// nav#menu.nav
// 	 div.menu-top-nav-container
// 		 ul#menu-top-nav.menu
// 			 li.menu-item
// 				a

.menu {
	padding-inline-start: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	// padding-inline-end: var(--gap);
	@media (min-width: 700px) {
		justify-content: flex-end;
	}
	&-item {
		@include nav-link;
		margin-block-end: var(--gap);
	}
	&-item:not(:last-child) {
		margin-inline-end: calc(var(--gap)*2);
	}
}
