.news-cards-wrapper {
	overflow-x: auto; // for auto-scrolling cards, set `overflow-x` on the wrapper!
	-webkit-overflow-scrolling: auto;
	&::-webkit-scrollbar {
		height: .9rem;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: hsl(0, 0%, 0%);
	}
}

/* enable scroll snaping for touch devices */
/* TODO: needs testing */
@media (hover: none) {
	.news-cards-wrapper {
		scroll-snap-type: x proximity;
	}
	.news-cards > li {
		scroll-snap-align: start;
	}
}

.news-cards {
	display: grid;
	grid-auto-flow: column;
	& > li {
		width: 20em;
		height: 20em;
		// min-width: 25rem; // square card
		// min-height: 25rem; // square card
		// aspect-ratio: 1/1; // square card
		overflow: hidden;
		border-block-end: var(--border);
		padding: var(--gap);
		display: grid;
		grid-template-rows: min-content 1fr;
		gap: var(--gap);
	}
	& > li:not(:last-child) {
		border-inline-end: var(--border);
	}
}

.news-card {
	&__date {
		font-family: var(--font-sans-serif);
		text-transform: uppercase;
		font-size: 75%;
	}
	&__content {
		display: grid;
		overflow: hidden;
	}
	&__content > .wp-block-group__inner-container {
		display: grid;
		grid-template-rows: min-content 1fr;
		gap: var(--gap);
		align-items: center;
	}
	&__title {
		text-align: center;
		font-size: inherit;
		font-weight: inherit;
	}
	&__image {
		padding: var(--gap);
		& img {
			display: block;
		}
	}
}
