.news-archive-wrapper {
	border-block-end: var(--border);
}
.news-archive {
	display: grid;
	grid-template-columns: repeat(auto-fill, 20em);
	justify-content: center;
	margin-inline-end: var(--gap);
	margin-block-end: 0 !important;
	gap: 1px; // outline 1px will fill this gap
	& > li {
		width: 20em;
		height: 20em;
		overflow: hidden;
		outline: var(--border);
		padding: var(--gap);
		display: grid;
		grid-template-rows: min-content 1fr;
		gap: var(--gap);
	}
}
