.news-cards-wrapper {
	@include auto-scroll-wrapper;
}

.news-cards {
	display: grid;
	grid-auto-flow: column;

	& > li {
		@include auto-scroll-item;
		width: 20em;
		height: 20em;
		overflow: hidden;
		border-block-end: var(--border);
		padding: var(--gap);
		display: grid;
		grid-template-rows: min-content 1fr;
		gap: var(--gap);
	}
	& > li:not(:last-child) {
		border-inline-end: var(--border);
	}
}

.news-card {
	&__date {
		font-family: var(--font-sans-serif);
		text-transform: uppercase;
		font-size: 75%;
	}
	&__content {
		display: grid;
		overflow: hidden;
	}
	&__content > .wp-block-group__inner-container {
		display: grid;
		grid-template-rows: min-content 1fr;
		gap: var(--gap);
		align-items: center;
	}
	&__title {
		text-align: center;
		font-size: inherit;
		font-weight: inherit;
	}
	&__image {
		padding: var(--gap);
		& img {
			display: block;
		}
	}
}
