.section-heading {
	text-align: center;
	h1 {
		padding-block-start: calc(var(--gap)*2);
		padding-block-end: calc(var(--gap)*2.7);
	}
	a {
		text-decoration: none;
	}
}

h2.section-heading,
h3.section-heading,
h4.section-heading,
h5.section-heading,
h6.section-heading {
	padding-block-start: calc(var(--gap)*2);
	padding-block-end: calc(var(--gap)*2);
}
