.entry-content {
	& p,
	& a,
	& ul,
	& h3,
	& h4,
	& h5,
	& h6 {
		margin-block-end: calc(var(--gap)/2);
	}
}

.entry-content > .wp-block-group {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 55em) 1fr;
	border-bottom: var(--border);
}

.entry-content > .wp-block-group > * {
	grid-column: 2 / -2;
	padding-inline-start: var(--gap);
	padding-inline-end: var(--gap);
	padding-block-start: var(--gap);
}

.entry-content > .wp-block-group.has-columns > * {
	padding-block-start: 0;
}

.entry-content > .wp-block-group.alignwide > * {
	padding-block-start: 0;
}

.entry-content > .wp-block-group.alignwide {
	padding-block-start: var(--gap);
	iframe {
		width: 100%;
    height: auto;
    aspect-ratio: 16/9;
	}
}

.entry-content > .wp-block-group.alignfull > * {
	grid-column: 1 / -1;
}

.entry-content > .wp-block-group {
	.wp-block-columns {
		margin-block-end: 0;
	}
	.wp-block-column {
		padding-block-start: var(--gap);
		padding-block-end: var(--gap);
	}
	@media (max-width: 599px) {
		.wp-block-columns:not(:last-child) {
			border-block-end: var(--border);
		}
		.wp-block-columns .wp-block-column:not(:last-child) {
			border-block-end: var(--border);
		}
	}
	@media (min-width: 600px) {
		.wp-block-columns:not(:last-child) .wp-block-column {
			border-block-end: var(--border);
		}
		.wp-block-column:not(:last-child) {
			border-inline-end: var(--border);
			padding-inline-end: var(--gap);
		}
		.wp-block-column:not(:first-child) {
			margin-inline-start: 0;
			padding-inline-start: var(--gap);
		}
	}
	.wp-block-image {
		margin: 0;
		display: flex;
	}
	.aligncenter {
		display: flex;
		justify-content: center;
	}
}
